@import "~styles/reset.scss";
@import "~styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

html {
    font-size: 16px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;

    box-sizing: border-box;
}

h1,
h2,
h3,
div,
span,
p {
    color: $color-tertiary;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
}
