$color-dark-blue: #1f405f;
$color-pale-blue: #f4f8fb;
$color-yellow: #f3d491;
$color-grey: #555555;
$color-white: #fff;
$color-white: #fff;
$color-red: #d33f3f;
$color-green: #449435;

$shadow-dark-blue: 0 0 10px rgba($color-dark-blue, 0.25);
$shadow-dark-blue-strong: 0 0 10px rgba($color-dark-blue, 0.5);

$header-height: 3em;
$footer-height: 4em;

$smartphone-breakpoint-width: 641px;
$tablet-breakpoint-width: 1025px;
$max-content-width: 1280px;

$dropdown-z-index: 1;

$transition-time: 0.25s;
