{
    "extends": ["react-app", "react-app/jest"],
    "rules": {
        "max-lines": [
            "error",
            {
                "max": 300
            }
        ],
        "no-unused-vars": "error"
    }
}
