@import "~styles/mixins.scss";

.layout-tile {
    box-shadow: none;

    &__border {
        width: calc(100% - 2rem);
        margin: -1px auto 0 auto;
        border-bottom: 1px solid rgba($color-dark-blue, 0.5);

        @include tablet() {
            width: calc(100% - 3rem);
        }

        @include desktop() {
            display: none;
        }

        &:last-child {
            display: none;
        }
    }

    @include desktop() {
        box-shadow: $shadow-dark-blue;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}
