@import "~styles/variables.scss";

.footer {
    width: 100%;
    background: $color-dark-blue;
    box-shadow: $shadow-dark-blue;

    &__top-part,
    &__bottom-part {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__top-part {
        height: 2em;

        > * {
            cursor: pointer;
            color: $color-yellow;
            padding: 0.75rem;
            font-weight: 400;
        }
    }

    &__bottom-part {
        height: 2em;
        color: $color-white;
    }
}
