@import "~styles/mixins.scss";

.footer {
    background: $color-dark-blue;
    box-shadow: $shadow-dark-blue;
    width: 100%;

    &__top-part,
    &__bottom-part {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__top-part {
        height: 2.5rem;
        font-size: 0.875rem;

        > * {
            cursor: pointer;
            text-align: center;
            color: $color-yellow;
            flex: 1;
            padding: 0.75rem;
            font-weight: 400;

            @include tablet() {
                flex: unset;
            }
        }
    }

    &__bottom-part {
        height: 1.5rem;
        color: $color-white;
        font-size: 0.75rem;
    }
}
