@import "~styles/mixins.scss";

.button {
    border: none;
    background: $color-yellow;
    height: 3rem;
    padding: 0 2rem;

    &--secondary {
        color: $color-dark-blue;
        background: $color-white;
        border: 1px solid $color-dark-blue;
    }

    &--link {
        height: fit-content;
        background: none;
        color: $color-yellow;
        padding: 0;
        font-weight: 600;
    }
}
