@import "~styles/variables.scss";

.user-section {
    &__sign-in-link {
        cursor: pointer;
        color: $color-white;
        margin-left: 1rem;
    }

    &__dropdown-toggle-content {
        display: flex;
        align-items: center;

        & > span {
            color: $color-white;
            margin-right: 1rem;
        }
    }

    &__blockies {
        border: 2px solid $color-yellow;
        border-radius: 50%;
    }
}
