@import "~styles/mixins.scss";

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    background: $color-page-background;

    &__middle-section {
        width: 100%;
        padding: 1em;
        max-width: $tablet-breakpoint-width;

        @include tablet() {
        }

        @include desktop() {
        }
    }
}
